# import Library

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# dataset import

In [11]:
df=pd.read_csv('homeprices.csv')
df.head()

   area  price
0  2600  55000
1  3000  56500
2  3200  61000
3  3600  68000
4  4000  72000